
body {
    background-image: url('/static/img/fundosite.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-size: 70px;
    text-align: center;
    font-style: normal;
    margin-top: -20px;
}

p{
    text-align: center;
    font-family: Roboto, sans-serif;
}

select.custom-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: blue;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

